:root{
    --color-tomato: hsl(4, 100%, 67%);
    --color-dark-slate-grey: hsl(234, 29%, 20%);
    --color-charcoal-grey: hsl(235, 18%, 26%);
    --color-grey: hsl(231, 7%, 60%);
    --color-white: hsl(0, 0%, 100%);
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: var(--color-charcoal-grey);
    font-family: Roboto;
    font-size: 16px;
}

body *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Principal container*/

main{
    width: 60%;
    display : flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: var(--color-white);
    border-radius: 20px;
}

/*Left container*/

#left-container{
    margin: 80px 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    color: var(--color-dark-slate-grey);
    font-size: 3.5rem;
    line-height: 50px;
}

ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li{
    display: flex;
    gap: 10px;
    align-items: center;
}

form , .input-form{
    display: flex;
    flex-direction: column;
}

#emailText{
    display: flex;

}

label{
    font-size: 12px;
    color: var(--color-dark-slate-grey);
    font-weight: 700;
    flex: 1;
}

#error-message{
    color: var(--color-tomato);
    display: none;
    flex: 1;
    font-size: 12px;
    font-weight: 700;
    justify-content: flex-end;
}

form input{
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--color-grey);
    padding: 0 20px;
    margin-top: 10px;
}

.error-input input{
    border: 1px solid var(--color-tomato);
    background-color: hsl(4, 100%, 95%);
    color: var(--color-tomato);
}

button{
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    background-color: var(--color-dark-slate-grey);
    color: var(--color-white);
    font-weight: 700;
}

/*succes message*/

#success-container{
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
    gap: 20px;
}

#success-container img{
    width: 64px;
    height: 64px;
    margin-bottom: 10px
}

#email-user{
    color: var(--color-dark-slate-grey);
    font-weight: 700;
}

/*Right container*/

#right-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#right-container img{
    height: 593px;
    width: 400px;
}


/*active states*/

.active{
    cursor: pointer;
}

input:hover{
    border: 1px solid var(--color-dark-slate-grey);
}

button:hover{
    background: linear-gradient(90deg,hsl(348, 100%, 66%),var(--color-tomato));
    box-shadow: 0px 10px 10px hsla(4, 100%, 88%,0.5);
}